.heroes-container {
  margin-top: 30px !important;
  justify-content: center !important;
}
.banner {
  margin-bottom: 30px;
}
.home-loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}