.hero-card {
  clip-path: polygon(85% 0, 92% 6%, 100% 12%, 100% 68%, 100% 100%, 0 100%, 0% 80%, 0 0);
  font-size: 10px !important;
  transition: transform 2s;
}

.hero-card:hover {
  color: var(--primary-color);
  transform: scale(1.1); 
}