.toolbar {
  background: rgb(17, 18, 22);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.logo {
  height: 50px;
  padding: 10px;
}

.banner {
  text-align: center;
  font-size: 20px;
}

.shield-text {
  font-size: 30px;
  font-weight: bold;
}