.toolbar {
  background: rgb(17, 18, 22);
}
.text-logo {
  font-size: 22px;
  color: #A7C6D9;
  margin-top: 20px;
}
.logo {
  height: 50px;
  padding: 10px;
}

.banner {
  text-align: center;
  font-size: 20px;
}

.shield-text {
  font-size: 30px;
  font-weight: bold;
}
.navbar-button {
  margin-top: 20px !important;
  color: #A7C6D9 !important;
}