.toolbar {
  background: rgb(17, 18, 22);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.text-logo {
  font-size: 27px;
  color: #A7C6D9;
}
.logo {
  height: 50px;
  padding: 10px;
}

.banner {
  text-align: center;
  font-size: 20px;
}

.shield-text {
  font-size: 30px;
  font-weight: bold;
}
.navbar-button {
  color: #A7C6D9 !important;
}