.title-badge {
  clip-path: polygon(0 0, 85% 0, 100% 48%, 100% 80%, 100% 100%, 20% 100%, 0 100%, 0% 20%);
  background: var(--primary-color);
  color: black;
  width: 120px;
  padding: 10px;
  margin-bottom: 20px;
}