:root {
  --background-color: #20222A;
  --surface-color: #282C33;
  --primary-color: #61DAFB;
  --primary-color-gradient: linear-gradient(90deg, rgba(97,251,238,1) 0%, rgba(97,218,251,1) 12%, rgba(97,169,251,1) 100%);
}

html, body {
  background: var(--background-color);
  color: var(--primary-color);
  font-family: 'Russo One', cursive !important;
  font-size: 15px !important;
}

.bg-standard {
  background: var(--background-color);
}

.bg-surface {
  background: var(--surface-color);
  color: var(--primary-color);
}

.t-primary {
  color: var(--primary-color);
}
.clickable {
  cursor: pointer;
}