:root {
  --background-color: #20222A;
  --surface-color: #282C33;
  --primary-color: #61DAFB;
}

html, body {
  background: var(--background-color);
  color: var(--primary-color);
  font-family: 'Odibee Sans', cursive !important;
  font-size: 20px !important;
}

.bg-standard {
  background: var(--background-color);
}

.bg-surface {
  background: var(--surface-color);
  color: var(--primary-color);
}

.t-primary {
  color: var(--primary-color);
}